.git
node_modules
.npm
.pnpm-store
.turbo
apps/**/node_modules
packages/**/node_modules
scripts/node_modules
apps/**/.nuxt
apps/**/.output
**/dist
**/*.log
**/*.tsbuildinfo
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
